h1 {
    font-family: Microsoft Yahei, PingFang SC ;
    color: #4285f4 ;}

body{
    background-color: rgba(60, 126, 95, 0.2);
    font-size:14px;
    margin: 60px;}

a {
    color:red;
    font-size: 20px;
    font-weight: 500 }

#che {color: rgb(24, 211, 86, 0.5);
    font-size: 200%;
    font-weight: bold;}

#tu {
    width: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #123456;}

#a1 {
    font-size: 50px;
    color:white;
    text-align: center;}